<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Site Title -->
	<title>Treat Us</title>
	<!-- Favicon Link -->
	
	<link rel="icon" type="image/x-icon" href="/assets/images/favicon/favicon.png">
	<!-- All CSS -->
	<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/plugins/slick-slider/css/slick.css">
	<link rel="stylesheet" href="/assets/plugins/venobox/css/venobox.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body data-spy="scroll" data-target="#navbarSupportedContent" data-offset="100">

	<!-- Preloader Section -->
	<div class="preloader">
		<img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Foods_-_Idil_Keysan_-_Wikimedia_Giphy_stickers_2019.gif" alt="Preloader Animation" class="preloader__image">
	  </div>


	<!-- Header Section -->
	<header class="header header--primary w-100">
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand font-weight-bold" href="/">
					<img src="/assets/images/favicon/favicon.png" alt="Logo Image" class="img-fluid" width="150" height="250">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="appname-icon-menu"></i>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav align-items-lg-center text-center ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="#feature">Feature</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#community">Community</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#ScreenShot">Screenshots</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#faq">F.A.Q</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#team">Our Team</a>
						</li>
						<li class="nav-item">
							<a class="primary-btn d-inline-block" href="/login">Sign up</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- Off Canvas Menu Toggler -->
	<div class="offCanvasMenuCloser position-fixed" data-toggle="collapse" data-target="#navbarSupportedContent" role="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></div>

	<!-- Banner Section -->
	<section class="banner parallax-banner position-relative overflow-hidden">
		<span class="shape shape--1 d-inline-block user-select-none position-absolute">
			<img src="/assets/images/banner/banner-shape-1.svg" alt="Banner Shape" class="shape__image shape__image--1 img-fluid" style="--i:0">
		</span>
		<span class="shape shape--2 d-inline-block user-select-none position-absolute">
			<img src="/assets/images/banner/banner-shape-2.svg" alt="Banner Shape" class="shape__image shape__image--2 img-fluid" style="--i:1">
		</span>
		<span class="shape shape--3 d-inline-block user-select-none position-absolute">
			<img src="/assets/images/banner/banner-shape-3.svg" alt="Banner Shape" class="shape__image shape__image--3 img-fluid" style="--i:2">
		</span>
		<span class="shape shape--4 d-inline-block user-select-none position-absolute">
			<img src="/assets/images/banner/banner-shape-4.svg" alt="Banner Shape" class="shape__image shape__image--4 img-fluid" style="--i:3">
		</span>
		<span class="shape shape--5 d-inline-block user-select-none position-absolute">
			<img src="/assets/images/banner/banner-shape-1.svg" alt="Banner Shape" class="shape__image shape__image--5 img-fluid" style="--i:4">
		</span>
		<span class="shape shape--6 d-inline-block user-select-none position-absolute">
			<img src="/assets/images/banner/banner-shape-5.svg" alt="Banner Shape" class="shape__image shape__image--6 img-fluid" style="--i:5">
		</span>
		<span class="shape shape--7 d-inline-block user-select-none position-absolute">
			<img src="/assets/images/banner/banner-shape-3.svg" alt="Banner Shape" class="shape__image shape__image--7 img-fluid" style="--i:6">
		</span>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 offset-xl-1 col-lg-7 pl-xl-0 text-center text-lg-left">
					<h1 class="banner__title secondary-color"><span class="primary-color">Treat Us </span>The Ultimate Solution for <span class="primaryy-color">Street Food Lovers</span></h1>
					<p class="banner__text secondary-color">The core problem that our service, called "Treat Us" solves is that it helps street food vendors by providing their live location to the people and making it easy to know the availabilities of recipes by the mobile application.</p>
					<div class="d-flex flex-column flex-sm-row align-items-center justify-content-center justify-content-lg-start">
						<a href="#about" class="primary-btn d-inline-block mb-4 mb-sm-0">Get Started</a>
						<a href="" data-autoplay="true" data-vbtype="video" class="venobox secondary-btn d-inline-block">Watch demo video</a>
					</div>
				</div>
				<div class="col-xl-5 col-lg-5 pr-xl-0 text-center text-lg-right">
					<img src="/assets/images/favicon/favicon.png" alt="Banner Image" class="banner__image w-100">
				</div>
			</div>
		</div>
	</section>

	<!-- About Section -->
	<section id="about" class="about section-gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-7 col-lg-6 mb-4 mb-lg-0 text-center text-lg-left">
					<img src="https://cdni.iconscout.com/illustration/premium/thumb/buying-junk-food-from-street-food-truck-4704428-3926112.png?f=webp" alt="About Image" class="about__image w-100">
				</div>
				<div class="col-xl-4 col-lg-6 offset-xl-1 text-center text-lg-left">
					<div class="section-header">
						<h1 class="section-header__title secondary-color font-weight-bold"> Say goodbye to the hassle of searching for <span class="primary-color">street vendors</span></h1>
					</div>
					<p class="about__text">Hello to the convenience of Treat Us.Discover your favorite street food vendors with NearTreat - the mobile app that provides live location tracking and availability of recipes, making it easy to find and enjoy delicious street food near you.					</p>
					<a href="#feature" class="primary-btn d-inline-block">Learn More</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Feature Section -->
	<section id="feature" class="feature section-gap overflow-hidden">
		<div class="container">
			<div class="row flex-lg-row-reverse">
				<div class="col-xl-6 col-lg-6 text-center text-lg-right">
					<img src="https://thumbs.dreamstime.com/b/buffet-style-restaurant-d-vector-web-banner-poster-choosing-food-drinks-flat-characters-cartoon-background-catering-service-218610633.jpg" alt="Feature Image" class="feature__image">
				</div>
				<div class="col-xl-5 offset-xl-1 col-lg-6 pl-xl-0">
					<div class="section-header text-center text-md-left">
						<h1 class="section-header__title secondary-color font-weight-bold">Introducing Our all in one <span class="primary-color">Advanced Features.</span></h1>
					</div>
					<p class="feature__text pr-xl-5 text-center text-md-left">Discover What Makes Our App Stand Out</p>
					<div class="row">
						<div class="col-xl-11 text-center text-sm-left">
							
							<div class="feature__block d-sm-flex align-items-center">
								<div class="feature__block__image flex-shrink-0">
									<img src="/assets/images/features/2.png" alt="Features Item Image" class="img-fluid">
								</div>
								<div class="feature__block__content mt-4 mt-sm-0">
									<h2 class="feature__block__title font-weight-bold primary-soft-color">Live Location Tracking:</h2>
									<p class="mb-0">TreatUs allows street food vendors to share their live location with customers, making it easy to find them and enjoy their food.</p>
								</div>
							</div>
							<div class="feature__block d-sm-flex align-items-center">
								<div class="feature__block__image flex-shrink-0">
									<img src="/assets/images/features/1.png" alt="Features Item Image" class="img-fluid">
								</div>
								<div class="feature__block__content mt-4 mt-sm-0">
									<h2 class="feature__block__title font-weight-bold success-color">Availability of Recipes:</h2>
									<p class="mb-0">Customers can view the menu of street food vendors in real-time, helping them to plan their meals and avoid disappointment.									</p>
								</div>
							</div>
							<div class="feature__block d-sm-flex align-items-center">
								<div class="feature__block__image flex-shrink-0">
									<img src="/assets/images/features/3.png" alt="Features Item Image" class="img-fluid">
								</div>
								<div class="feature__block__content mt-4 mt-sm-0">
									<h2 class="feature__block__title font-weight-bold danger-color">Seller and Buyer Login Screens:</h2>
									<p class="mb-0">Treat Us features separate login screens for sellers and buyers, ensuring that both parties have a smooth and efficient experience.</p>
								</div>
							</div>
							<div class="text-center text-md-left">
								<a href="#!" class="secondary-btn d-inline-block" id="toggle-features">View All Features</a>
							  </div>
							  
							  <div id="extra-features" style="display: none;">
								<div class="feature__block d-sm-flex align-items-center">
								  <div class="feature__block__image flex-shrink-0">
									<img src="assets/images/features/4.png" alt="Features Item Image" class="img-fluid">
								  </div>
								  <div class="feature__block__content mt-4 mt-sm-0">
									<h2 class="feature__block__title font-weight-bold primary-color">Nearest Street Stall Location:</h2>
									<p class="mb-0">Our app provides the nearest street stall location and available items to customers, making it easy to find and enjoy street food wherever you are.</p>
								  </div>
								</div>
								
								<div class="feature__block d-sm-flex align-items-center">
								  <div class="feature__block__image flex-shrink-0">
									<img src="assets/images/features/5.png" alt="Features Item Image" class="img-fluid">
								  </div>
								  <div class="feature__block__content mt-4 mt-sm-0">
									<h2 class="feature__block__title font-weight-bold primary-color">Unique Platform for Street Vendors and Customers:</h2>
									<p class="mb-0">Treat Us is the first of its kind, providing a dedicated platform for street vendors and customers who love street food, creating a community of street food lovers.</p>
								  </div>
								</div>
								
								<div class="feature__block d-sm-flex align-items-center">
								  <div class="feature__block__image flex-shrink-0">
									<img src="assets/images/features/6.png" alt="Features Item Image" class="img-fluid">
								  </div>
								  <div class="feature__block__content mt-4 mt-sm-0">
									<h2 class="feature__block__title font-weight-bold primary-color">Easy to Use:</h2>
									<p class="mb-0">Our app is user-friendly and easy to navigate, making it accessible to everyone, regardless of their technological abilities.</p>
								  </div>
								</div>
							  </div>
							  
							  <script>
								var toggleFeaturesBtn = document.getElementById("toggle-features");
								var extraFeaturesDiv = document.getElementById("extra-features");
							  
								toggleFeaturesBtn.addEventListener("click", function() {
								  if (extraFeaturesDiv.style.display === "none") {
									extraFeaturesDiv.style.display = "block";
									toggleFeaturesBtn.innerHTML = "View Less";
								  } else {
									extraFeaturesDiv.style.display = "none";
									toggleFeaturesBtn.innerHTML = "View All Features";
								  }
								});
							  </script>
							  
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Community Section -->
	<section id="community">
	<section class="community section-gap position-relative overflow-hidden">
		<img src="assets/images/community/rounded-shape.png" alt="Rounded Shape" class="shape shape--left user-select-none img-fluid position-absolute">
		<img src="assets/images/community/dotted-shape.png" alt="Dotted Shape" class="shape shape--right user-select-none img-fluid position-absolute">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-5 pl-xl-0">
					<div class="section-header">
						<h1 class="section-header__title secondary-color font-weight-bold">Join the <span class="primary-color">"Treat Us"</span> Community</h1>
					</div>
					<p class="community__text pr-xl-5">Join the "Treat Us" community and never miss out on your favorite street food again! Our app provides live location tracking and availability of recipes, making it easy for customers to find their favorite street vendors.</p>
				</div>
				<div class="col-lg-5 pl-xl-5">
					<div class="pl-xl-5">
						<div class="community__quote-slider">
							<div class="community__quote-slide">
								<p class="community__quote-slide__text mb-0">"Treat Us is the perfect solution to the problem of finding street vendors. The live location tracking is accurate and the app is easy to use. I've discovered some amazing street food thanks to this app!" - Pranav Krishnan.</p>
								<div class="community__quote-slide__details d-flex align-items-center">
									<div class="community__quote-slide__avatar flex-shrink-0 rounded-circle position-relative">
										<img src="assets/images/community/community-quote-image.jpg" alt="Community Quote Avatar" class="position-absolute w-100 h-100">
									</div>
									<div class="community__quote-slide__details__content">
										<h3 class="community__quote-slide__author">Pranav </h3>
										<p class="community__quote-slide__position mb-0">Delhi</p>
									</div>
								</div>
							</div>
							<div class="community__quote-slide">
								<p class="community__quote-slide__text mb-0">"I love being part of the TreatUs community! It's so easy to find my favorite street vendors and try new ones too. The live location tracking and availability of recipes is a game-changer. Highly recommend!" - Sanjay Subramanian.</p>
								<div class="community__quote-slide__details d-flex align-items-center">
									<div class="community__quote-slide__avatar flex-shrink-0 rounded-circle position-relative">
										<img src="assets/images/community/community-image-sm-1.jpg" alt="Community Image Avatar" class="position-absolute w-100 h-100">
									</div>
									<div class="community__quote-slide__details__content">
										<h3 class="community__quote-slide__author">Sanjay 
										</h3>
										<p class="community__quote-slide__position mb-0">Delhi</p>
									</div>
								</div>
							</div>
							<div class="community__quote-slide">
								<p class="community__quote-slide__text mb-0">"As a street vendor, TreatUs has been a huge help in increasing my sales. Customers can easily find me and see what I have available. It's user-friendly and has a great community feel." - Jayakumar Sellathuvam.</p>
								<div class="community__quote-slide__details d-flex align-items-center">
									<div class="community__quote-slide__avatar flex-shrink-0 rounded-circle position-relative">
										<img src="assets/images/community/community-image-sm-3.jpg" alt="Community Image Avatar" class="position-absolute w-100 h-100">
									</div>
									<div class="community__quote-slide__details__content">
										<h3 class="community__quote-slide__author">Jayakumar </h3>
										<p class="community__quote-slide__position mb-0">Delhi</p>
									</div>
								</div>
							</div>
							<div class="community__quote-slide">
								<p class="community__quote-slide__text mb-0">"I'm always on the lookout for new and delicious street food, and NearTreat has made it so much easier. I love being part of the community and sharing my favorite finds with others. The app is a must-have for any street food lover!" - Rahul Venkatesh.</p>
								<div class="community__quote-slide__details d-flex align-items-center">
									<div class="community__quote-slide__avatar flex-shrink-0 rounded-circle position-relative">
										<img src="assets/images/community/community-image-sm-2.jpg" alt="Community Image Avatar" class="position-absolute w-100 h-100">
									</div>
									<div class="community__quote-slide__details__content">
										<h3 class="community__quote-slide__author">Rahul </h3>
										<p class="community__quote-slide__position mb-0">Bhopal</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-10 pl-xl-0 pb-3">
					<div class="community__preview-slider row">
						<div class="col-md-4 col-sm-6">
							<div class="community__preview-slide">
								<div class="community__preview-slide__image position-relative">
									<img src="assets/images/community/community-image-1.jpg" alt="Community Image" class="w-100">
									
								</div>
								<h2 class="community__preview-slide__author font-weight-bold secondary-color"><a href="#!">Arvind Rajan</a></h2>
								<p class="community__preview-slide__meta secondary-color mb-0">Uttar Pradesh</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="community__preview-slide">
								<div class="community__preview-slide__image position-relative">
									<img src="assets/images/community/community-image-2.jpg" alt="Community Image" class="w-100">
									
								</div>
								<h2 class="community__preview-slide__author font-weight-bold secondary-color"><a href="#!">Kavitha</a></h2>
								<p class="community__preview-slide__meta secondary-color mb-0">Bhopal</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="community__preview-slide">
								<div class="community__preview-slide__image position-relative">
									<img src="assets/images/community/community-image-3.jpg" alt="Community Image" class="w-100">
									
								</div>
								<h2 class="community__preview-slide__author font-weight-bold secondary-color"><a href="#!">Krishna</a></h2>
								<p class="community__preview-slide__meta secondary-color mb-0">Delhi</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="community__preview-slide">
								<div class="community__preview-slide__image position-relative">
									<img src="assets/images/community/community-image-2.jpg" alt="Community Image" class="w-100">
									
								</div>
								<h2 class="community__preview-slide__author font-weight-bold secondary-color"><a href="#!">Kavitha</a></h2>
								<p class="community__preview-slide__meta secondary-color mb-0">Delhi</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>

	<!-- Pricing Section -->
	<section id="ScreenShot" class="ScreenShot section-gap">
		<div class="container">
		  <div class="row justify-content-center">
			<div class="section-header text-center col-12">
			  <h1 class="section-header__title secondary-color font-weight-bold">Experience the Convenience of Finding Your Favorite Street Food with <span class="primary-color">Treat Us</span> - Check Out Our App Screenshots!</h1>
			</div>
			<div class="col-lg-6 text-center px-lg-0">
			  <p class="ScreenShot__text">See Our App in Action
			</p>
			</div>
			<div class="col-12 mb-5"></div>
	  
			<div class="col-12">
			  <div class="Slideshow">
				<img src="assets/images/screenshots/img1.svg" alt="slide 1" />
				<img src="assets/images/screenshots/img2.svg" alt="slide 2" />
				<img src="assets/images/screenshots/img3.svg" alt="slide 3" />
				<img src="assets/images/screenshots/img4.svg" alt="slide 4" />
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	  
	  <script>
		// Get all the images in the slideshow
		const slides = document.querySelectorAll('.Slideshow img');
		let currentSlide = 0;
	  
		// Change slide every 2 seconds
		setInterval(() => {
		  // Hide the current slide
		  slides[currentSlide].style.display = 'none';
		  // Move to the next slide
		  currentSlide = (currentSlide + 1) % slides.length;
		  // Show the next slide
		  slides[currentSlide].style.display = 'block';
		}, 2000);
	  </script>
	  

	<!-- F.A.Q. Section -->
	<section id="faq" class="faq section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="section-header text-center col-12">
					<h1 class="section-header__title secondary-color font-weight-bold">Frequently asked questions</h1>
				</div>
				<div class="col-lg-6 px-lg-0 text-center">
					<p>Got questions about <span class="brand-color">Treat Us</span>? We've got answers. Check out our FAQ section for more information on how NearTreat works, how to use our app, and more.</p>


				</div>
				<div class="col-lg-10">
					<div class="accordion" id="accordionExample">
						<div class="card border-0 rounded-0">
						  <div class="card-header bg-transparent border-0" id="headingOne">
							<h2 class="mb-0">
							  <button class="btn text-left d-flex align-items-center justify-content-between shadow-none secondary-color w-100" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								What is Treat Us?

								<span class="btn__icon d-inline-flex align-items-center justify-content-center flex-shrink-0 position-relative ml-2"></span>
							  </button>
							</h2>
						  </div>
					  
						  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body">
								Treat Us is an all-in-one platform that helps users discover and track street food vendors in their area. Our platform makes it easy to find, connect with, and order from your favorite street food vendors, while also helping vendors build their businesses and increase their visibility.


							</div>
						  </div>
						</div>
						<div class="card border-0 rounded-0">
						  <div class="card-header bg-transparent border-0" id="headingTwo">
							<h2 class="mb-0">
							  <button class="btn text-left d-flex align-items-center justify-content-between shadow-none secondary-color w-100" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								How does Treat Us work?


								<span class="btn__icon d-inline-flex align-items-center justify-content-center flex-shrink-0 position-relative ml-2"></span>
							  </button>
							</h2>
						  </div>
						  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body">
								Treat Us works by using real-time location tracking to help users find and connect with street food vendors in their area. Users can search for vendors based on location, cuisine, and more, and can view vendor profiles to learn more about each vendor, including their menu, hours of operation, and customer reviews.


							</div>
						  </div>
						</div>
						<div class="card border-0 rounded-0">
						  <div class="card-header bg-transparent border-0" id="headingThree">
							<h2 class="mb-0">
							  <button class="btn text-left d-flex align-items-center justify-content-between shadow-none secondary-color w-100" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Is Treat Us available in my area?

								<span class="btn__icon d-inline-flex align-items-center justify-content-center flex-shrink-0 position-relative ml-2"></span>
							  </button>
							</h2>
						  </div>
						  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
							<div class="card-body">
								Treat Us is currently available in select cities in India, including Delhi, Mumbai, Kolkata, and Ahmedabad. We are constantly expanding our coverage, so if we're not currently available in your area, stay tuned for updates!

							</div>
						  </div>
						</div>
						<div class="card border-0 rounded-0">
						  <div class="card-header bg-transparent border-0" id="headingFour">
							<h2 class="mb-0">
							  <button class="btn text-left d-flex align-items-center justify-content-between shadow-none secondary-color w-100" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								How do I order from a street food vendor using Treat Us?

								<span class="btn__icon d-inline-flex align-items-center justify-content-center flex-shrink-0 position-relative ml-2"></span>
							  </button>
							</h2>
						  </div>
						  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
							<div class="card-body">
								To order from a street food vendor using Treat Us, simply navigate to the vendor's profile within the app and select the items you'd like to order. Once you've added your items to your cart, you can check out directly within the app and pay using a variety of payment methods.

							</div>
						  </div>
						</div>
						<div class="card border-0 rounded-0">
						  <div class="card-header bg-transparent border-0" id="headingFive">
							<h2 class="mb-0">
							  <button class="btn text-left d-flex align-items-center justify-content-between shadow-none secondary-color w-100" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								How do I create an account on Treat Us?


								<span class="btn__icon d-inline-flex align-items-center justify-content-center flex-shrink-0 position-relative ml-2"></span>
							  </button>
							</h2>
						  </div>
						  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
							<div class="card-body">
								To create an account on Treat Us, simply download our app from the App Store or Google Play Store and follow the on-screen instructions to sign up. You can also sign up using your Facebook or Google account for added convenience.


							</div>
						  </div>
						  <div class="card border-0 rounded-0">
							<div class="card-header bg-transparent border-0" id="headingFive">
							  <h2 class="mb-0">
								<button class="btn text-left d-flex align-items-center justify-content-between shadow-none secondary-color w-100" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									How do I rate and review a street food vendor on Treat Us?

  
								  <span class="btn__icon d-inline-flex align-items-center justify-content-center flex-shrink-0 position-relative ml-2"></span>
								</button>
							  </h2>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
							  <div class="card-body">
								To rate and review a street food vendor on Treat Us, simply navigate to the vendor's profile within the app and select the "Rate and Review" option. From there, you can leave a rating and write a review based on your experience with the vendor.

  
							  </div>
							</div>
							<div class="card border-0 rounded-0">
								<div class="card-header bg-transparent border-0" id="headingFive">
								  <h2 class="mb-0">
									<button class="btn text-left d-flex align-items-center justify-content-between shadow-none secondary-color w-100" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										How do I contact Treat Us customer support?

	  
									  <span class="btn__icon d-inline-flex align-items-center justify-content-center flex-shrink-0 position-relative ml-2"></span>
									</button>
								  </h2>
								</div>
								<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
								  <div class="card-body">
									If you need assistance with using Treat Us or have a question or concern, you can contact our customer support team by navigating to the "Contact Us" section within the app. From there, you can send us a message and we'll get back to you as soon as possible.



	  
								  </div>
								</div>
								<div class="card border-0 rounded-0">
									<div class="card-header bg-transparent border-0" id="headingFive">
									  <h2 class="mb-0">
										<button class="btn text-left d-flex align-items-center justify-content-between shadow-none secondary-color w-100" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										  Is Treat Us free to use?
		  
										  <span class="btn__icon d-inline-flex align-items-center justify-content-center flex-shrink-0 position-relative ml-2"></span>
										</button>
									  </h2>
									</div>
									<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
									  <div class="card-body">
										  Yes, Treat Us is completely free to use for both users and street food vendors.
		  
									  </div>
									</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--Our team-->
	<!-- Slideshow container -->
	<div class="section-header text-center col-12">
		<h1 class="section-header__title secondary-color font-weight-bold">Introducing the <span class="primary-color">Treat Us</span> Team: <span class="primaryy-color">Innovative, Passionate, and Diverse</span></h1>
	  </div>
	  
	<section id="team">
<div class="slideshow-container">

	<!-- Full-width images with number and caption text -->
	<div class="mySlides fade">
	  <div class="numbertext">1 / 3</div>
	  <img src="assets/images/" style="width:100%">
	</div>
  
	<div class="mySlides fade">
	  <div class="numbertext">2 / 3</div>
	  <img src="assets/images/" style="width:100%">
	</div>
  
	<div class="mySlides fade">
	  <div class="numbertext">3 / 3</div>
	  <img src="assets/images/" style="width:100%">
	</div>

	<div class="mySlides fade">
		<div class="numbertext">3 / 3</div>
		<img src="assets/images/" style="width:100%">
	  </div>

	  <div class="mySlides fade">
		<div class="numbertext">3 / 3</div>
		<img src="assets/images/" style="width:100%">
	  </div>
  
	<!-- Next and previous buttons -->
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
	
	<script>
		let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
	</script> 
	
</section>
	<!-- Get Started Section -->
	<section class="get-start section-gap">
		<div class="container">
			<div class="row flex-lg-row-reverse">
				<div class="col-lg-6 text-center text-lg-right mb-5 mb-lg-0">
					<img src="https://img.freepik.com/premium-vector/online-food-ordering-delivery-mustachoed-chef-restaurant-looking-out-phone-holding-dish-showing-ok-sign_177953-282.jpg?w=2000" alt="Get Started Image" class="img-fluid">
				</div>
				<div class="col-xl-5 offset-xl-1 col-lg-6 pl-xl-0 text-center text-lg-left">
					<div class="section-header">
						<h1 class="section-header__title secondary-color font-weight-bold"><span class="primaryy-color">Get Notified</span> When We Launch! <span class="primary-color">Treat Us</span></h1>
					</div>
					<p class="pr-xl-5">Stay up-to-date with the latest news and updates on the launch of our app, Treat Us. Sign up now to be the first to know when we launch and to receive exclusive offers and promotions. Don't miss out on the chance to discover your favorite street food vendors and their delicious recipes. Join our community today!</p>
					<a href="./login.html" class="primary-btn d-inline-block mb-4 mb-sm-0">Sign up free</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer Section -->
	<footer class="footer d-flex flex-column align-items-center position-relative">
		<div class="footer__top w-100">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-3 col-sm-6 ml-xl-5">
						<div class="footer__block">
							<a href="./index.html" class="footer__block__logo d-inline-block">
								<img src="assets/images/favicon/favicon.png" alt="logo image" class="img-fluid">
							</a>
							<p>Connect with us on social media to stay updated on the latest news and updates from Treat Us. Follow us on Facebook, Twitter, and Instagram.</p>
						</div>
					</div>
					<div class="col-lg-2 col-sm-6">
						<div class="footer__block">
							<h3 class="footer__block__title">Company</h3>
							<ul class="footer__block__list mb-0">
								<li class="footer__block__list__item">
									<a href="#!" class="footer__block__list__link">What we do</a>
								</li>
								<li class="footer__block__list__item">
									<a href="#!" class="footer__block__list__link">Case studies</a>
								</li>
								<li class="footer__block__list__item">
									<a href="#!" class="footer__block__list__link">Blog</a>
								</li>
								<li class="footer__block__list__item">
									<a href="#!" class="footer__block__list__link">Careers</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="footer__block">
							<h3 class="footer__block__title">Support</h3>
							<ul class="footer__block__list mb-0">
								<li class="footer__block__list__item">
									<a href="#!" class="footer__block__list__link">Getting Started</a>
								</li>
								<li class="footer__block__list__item">
									<a href="#!" class="footer__block__list__link">Help Center</a>
								</li>
								<li class="footer__block__list__item">
									<a href="#!" class="footer__block__list__link">Report a bug</a>
								</li>
								<li class="footer__block__list__item">
									<a href="#!" class="footer__block__list__link">FAQs</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="footer__block mb-0">
							<h3 class="footer__block__title">Legal</h3>
							<ul class="footer__block__list mb-0">
								<li class="footer__block__list__item">
									<a href="#!" class="footer__block__list__link">Terms & Conditions</a>
								</li>
								<li class="footer__block__list__item">
									<a href="#!" class="footer__block__list__link">Privacy Policy</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom text-center">
			<div class="container">
				<p class="footer__copyright font-italic mb-0">Copyright @<a href="./index.html" class="footer__copyright__link">Treat Us</a>. All right Reserved</p>
			</div>
		</div>
	</footer>

	<!-- Scroll To Top Button -->
	<div class="scroll-top position-fixed">
		<button class="scroll-top__btn border-0 d-inline-flex align-items-center justify-content-center"><span class="appname-icon-up"></span></button>
	</div>

	<!-- All Scripts -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/venobox/js/venobox.min.js"></script>
	<script src="assets/plugins/slick-slider/js/slick.js"></script>
	<script src="assets/plugins/particles/js/particles.min.js"></script>
	<script src="assets/js/script.js"></script>
</body>
</html>
